<%- include('partials/header.ejs') -%>

    <main>
        <h2 class="hidden">Main Content</h2>
        <section class="selfDBooks">
            <h3>Self-Development</h3>
            <% for(let i = 0; i < books.length; i++){ %>
    <a class="nolink" href="books/<%= books[i].title %>">
        <section class="book">
        <h4 class="hidden"><%= books[i].title %></h4>
        <p class="titelBooks childrenBook"><%= books[i].title %></p>
        <p class="auteurBooks childrenBook">By <%= books[i].author %> (<%= books[i].published %>)</p>
        <img class="imageBooks childrenBook" src="<%= books[i].image %>" alt="book">
        <p class="tierBooks childrenBook">Status: <% if (books[i].tier == "TBD"){ %> <i>Currently reading...</i> <% } else { %> <i>Read &#10003;</i> <% } %></p>
    </section></a>

    <%  }  %>
        </section>

</main>

<%- include('partials/footer.ejs') -%>
