<%- include('partials/header.ejs') -%>

    <main class="mainIndex">
        <h2 class="hidden">Main Content</h2>
        <section class="introduction">
            <h3>We have a long journey ahead of us...</h3>
            <hr>
            <p class="p1">
                Hi there! Welcome to My Journey. I created this platform with the sole purpose of inspiring others and
                documenting my self-improvement journey. Through this website, I hope to share my experiences,
                achievements, and projects with you, while also motivating you to embark on your own personal
                development journey.</p>
            <p class="p1">One of the primary reasons for creating this website is to share my reading list with you. Reading has
                been a significant part of my personal growth journey, and I want to inspire you to read more and
                explore different genres and topics. On my website, you'll find a comprehensive list of the books I have
                read, along with my thoughts and recommendations.</p>
            <p class="p1">In addition to books, my website also showcases the various projects I have worked on. From creative
                projects to professional endeavors, I want to share my process and insights with you. By doing so, I
                hope to offer valuable tips and guidance to others who may be embarking on similar projects.</p>
            <p class="p1">I also believe that sharing my real-life achievements can serve as inspiration for others. Through
                documenting my accomplishments, I hope to inspire you to set and achieve your own goals, both personal
                and professional.</p>
            <p class="p1">Lastly, I'll be documenting my own self-improvement journey on this website. I believe that growth is a
                continuous process, and by sharing my experiences and insights, I hope to motivate you to embark on your
                own journey of self-discovery and improvement.</p>
            <p class="p1">Thank you for visiting my website, and I hope you find it inspiring and informative.</p>
        </section>
        <section class="quote">
            <h3>Food for thought...</h3>
            <p><a target="_blank" href="https://en.wikipedia.org/wiki/<%- quote1.a.replace(' ', '_') -%>"><%- quote1.a -%></a></p>
            <p><i><%- quote1.q -%></i></p>
            <p><a target="_blank" href="https://en.wikipedia.org/wiki/<%- quote2.a.replace(' ', '_') -%>"><%- quote2.a -%></a></p>
            <p><i><%- quote2.q -%></i></p>

        </section>
    </main>


    <%- include('partials/footer.ejs') -%>